$fullHeight :100vh;
$fullWidth: 100vw;


.main-background {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    min-height: $fullHeight;
    min-width: $fullWidth;
    color: #fff;

    .main {
        font-family: 'Noto Sans JP',
            sans-serif;
        color: #000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background: #eeeeee;
        border-radius: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%;
    }

}